.home {
    background-image: url('../public/assets/images/home/background-home-desktop.jpg');
    min-height: 100vh;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
}